<h1>
    <p><%= @location %>の天気</p>
</h1>

<p>今日は <%= l(Date.current, format: :month_to_day) %></p>

<% if @weather %>
    <p><%= @weather[:description] %></p>
    <p>最高: <%= @weather[:temp_max] %>℃</p>
    <p>最低: <%= @weather[:temp_min] %>℃</p
    <p>湿度: <%= @weather[:humidity] %>%</p>
<% else %>
    <p>天気情報が見つかりませんでした。</p> <%# 本来は出ないエラー(APIがおかしくない限り) %>
<% end %>

<%= link_to "トップに戻る", root_path, class: "btn btn-secondary" %>
