<h1>天気検索くん(仮称)</h1>
<%= form_with url: weathers_path, method: :get, local: true do |form| %>
    <%= form.label :location, "地域名を入力してください" %>
    <%= form.text_field :location, placeholder: "例: 足立区" %>
    <%= form.submit "検索" %>
<% end %>

<% if @histories.present? %>
    <h2>最近の検索履歴</h2>
    <ul>
        <% @histories.each do |history| %>
            <li><%= link_to history.location, weathers_path(location: history.location) %></li>
        <% end %>
    </ul>
<% end %>

<datalist id="recent-locations">
    <% Array(@histories).each do |history| %>
        <option value="<%= history.location %>"></option>
    <% end %>
</datalist>
